::placeholder {
    color: $c_text;
}

input[type=checkbox]{
    width: 15px;
    height: 15px;
}


.input {
    display: flex;


    label {
        margin-bottom: 8px;
        font-weight: 600;
    }

    input, textarea {
        padding: 16px;
        border: 1px solid rgb(207, 214, 228);
        outline: none;
        border-radius: 8px;
        transition: border 0.3s ease, box-shadow 0.3s ease;
        width: 100%;
        font-size: 14px;

        &:focus {
            border: 1px solid $c_light_pink;
            box-shadow: 0px 0px 1px 3px $c_lightest_pink;
        }
    }

    &--col {
        flex-direction: column;
    }

    &--row {
        flex-direction: row;
        align-items: center;

        label {
            margin-right: 12px;
            margin-bottom: 0;
        }
    }

    &-icon {
        position: relative;

        div {
            position: absolute;
            top: 15px;
            right: 15px;
        }
    }
}



.input-error {

    span {
        margin-left: 8px;
        color: red;
        font-size: 14px;
    }

    li{
        color: red;
        font-size: 14px;
    }

    &--show {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    &--hide {
        display: none;
    }
}


.select {
    padding: 16px;
    border: 1px solid rgb(207, 214, 228);
    outline: none;
    border-radius: 8px;
    font-size: 14px;
    transition: all 0.3s ease;

    &:focus {
        border: 1px solid $c_light_pink;
        box-shadow: 0px 0px 1px 3px $c_lightest_pink;
    }
}

